@model CreateItemRequest
@using Archive.Models 
<head>
    <meta charset="utf-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
     <link rel="stylesheet" href="~/css/autor-style.css"/> 
</head>


<h1>Добавить книгу</h1>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Название книги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Описание",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
           </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year,"Дата создания",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field, "Область знания",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Field, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre,"Жанр",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control" style="text-align: center;" name="Genre" >
                                <option value="нет_информации">Нет информации</option>
                                <option value="Драма">Драма</option>
                                <option value="Фэнтези">Фэнтези</option>
                                <option value="Проза">Проза</option>  
                                <option value="Поэзия">Поэзия</option>
                                <option value="Роман">Роман</option>
                                <option value="Фольклор">Фольклор</option>
                                <option value="Хоррор">Хоррор</option>
                                <option value="Историческая_проза">Историческая проза</option>
                                <option value="Триллер">Триллер</option>
                                <option value="Реализм">Реализм</option>
                                <option value="Научная_фантастика">Научная фантастика</option>
                                <option value="Юмор">Юмор</option>
                                <option value="Биография">Биография</option>
                                <option value="Эссе">Эссе</option>
                                <option value="Предметная_литература">Предметная литература</option>
                </select>
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryId,"Страна",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                            <select class = "form-control" style="text-align: center;" name="CountryId" id="id" >
                                <option value="1">Россия</option>
                                <option value="2">Великобритания</option>
                                <option value="3">США</option>
                                <option value="4">Франция</option>
                                <option value="5">Германия</option>
                                <option value="6">Япония</option>
                                <option value="7">Китай</option>
                                <option value="8">Колумбия</option>
                                <option value="9">Канада</option>
                                <option value="10">Испания</option>
                                <option value="11">Италия</option>
                            </select>
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                 <input type="submit" value="Создать" class="btn btn-outline-success float-right" />
                 <a class="btn btn-outline-secondary" asp-action="Index">Вернуться к каталогу</a>
            </div>
        </div>
    </div>          
}
