@model Item
@{
    ViewData["Title"] = "Edit Item";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Field, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control" name="Genre" >
                                <option value="no_info">no_info</option>
                                <option value="literary_fiction">literary_fiction</option>
                                <option value="mystery">mystery</option>
                                <option value="thriller">thriller</option>
                                <option value="horror">horror</option>
                                <option value="historical">historical</option>
                                <option value="romance">romance</option>
                                <option value="western">western</option>
                                <option value="bildungsroman">bildungsroman</option>
                                <option value="speculative_fiction">speculative_fiction</option>
                                <option value="science_fiction">science_fiction</option>
                                <option value="fantasy">fantasy</option>
                                <option value="dystopyan">dystopyan</option>
                                <option value="magical_realism">magical_realism</option>
                                <option value="realist_literature">realist_literature</option>
                                <option value="subject_literature">subject_literature</option>
                </select>
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control"  name="CountryId" id="id" >
                                <option value="1">Russia</option>
                                <option value="2">UK</option>
                                <option value="3">USA</option>
                                <option value="4">France</option>
                                <option value="5">Germany</option>
                                <option value="6">Japan</option>
                                <option value="7">China</option>
                                <option value="8">Columbia</option>
                                <option value="9">Canada</option>
                                <option value="10">Spain</option>
                                <option value="11">Italy</option>
                </select>
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
                 <input type="submit" value="Редактировать" class="btn btn-outline-success float-right"/>
                 <a class="btn btn-outline-secondary" asp-action="ItemPage" asp-route-id=@Model.Id>вернуться к предмету</a>
        </div>
    </div>
}

