@model Item
@{
    ViewData["Title"] = "Edit Item";
}
<head>
    <meta charset="utf-8">
    <title>Добавить книгу</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
     <link rel="stylesheet" href="~/css/autor-style.css"/> 
</head>


<h1>Редактировать книгу</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Название книги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description,"Описание", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year,"Дата создания", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Field,"Область знания", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Field,"Жанр", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Field, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre,"Страна", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control" name="Genre" >
                                <option value="no_info">Нет информации</option>
                                <option value="drama">Драма</option>
                                <option value="fantasy">Фэнтези</option>
                                <option value="literary_fiction">Художественная проза</option>
                                <option value="novel">Роман</option>
                                <option value="poetry">Поэзия</option>
                                <option value="folklore">Роман</option>
                                <option value="historical">Фольклор</option>
                                <option value="horror">Хоррор</option>
                                <option value="thriller">Триллер</option>
                                <option value="realism">Реализм</option>
                                <option value="science_fiction">Научная фантастика</option>
                                <option value="humor">Юмор</option>
                                <option value="biography">Биография</option>
                                <option value="essay">Эссе</option>
                                <option value="documentary_literature">Документальная литература</option>
                </select>
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CountryId,"Страна", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class = "form-control"  name="CountryId" id="id" >
                                <option value="1">Россия</option>
                                <option value="2">Великобритания</option>
                                <option value="3">США</option>
                                <option value="4">Франция</option>
                                <option value="5">Германия</option>
                                <option value="6">Япония</option>
                                <option value="7">Китай</option>
                                <option value="8">Колумбия</option>
                                <option value="9">Канада</option>
                                <option value="10">Испания</option>
                                <option value="11">Италия</option>
                </select>
                @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
                 <input type="submit" value="Редактировать" class="btn btn-outline-success float-right"/>
                 <a class="btn btn-outline-secondary" asp-action="ItemPage" asp-route-id=@Model.Id>Вернуться к каталогу</a>
        </div>
    </div>
}

