<html lang="ru" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AuthorPage</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
     <link rel="stylesheet" href="~/css/autor-style.css"/> 
</head>

<style>
    .header_small {
    margin-left: 20px;
    margin-top: 20px;
    }
    a{
        margin-left:20px;
    }
    h3{
        color:red;
        text-align:center;
    }
</style>

@if(Model == null)
{
    <h3>По Вашему запросу ничего не найдено</h3>
    <td class="aling-middle">
         <a class="btn btn-outline-secondary" asp-controller="Items" asp-action="Index">Вернуться к каталогу</a>
     </td> 
}
else
{
  <body>
    <h2>Авторы книги</h2>
       <table class="table">
        <tr>
           <th>
              Полное имя
           </th>
           <th>
               Дата рождения
           </th>
           <th>
              Дата смерти
           </th>
           <th class="text-center">
               Немного о авторе
           </th>

       </tr>
    @foreach(var author in Model)
    {
        <tr>
            <td>@author.Name</td>
            <td>@author.Born</td>
            <td>@author.Death</td>
            <td>@author.About</td>
        </tr>
    }
</table>
<div class="form-group">
      <div class="col-md-offset-2 col-md-10">
          @foreach(var author in Model)
             {
                <a class="btn btn-outline-secondary" asp-controller="Items" asp-action="ReyurntoItemPage" asp-route-id=@author.Id>Вернуться к каталогу</a>
                break;
             }
          
      </div>
</div>


</body>
}
  

















































@*@{
    ViewData["Title"] = "AuthorPage";
}
<html lang="ru" dir="ltr">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Genres</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">               
        <link rel="stylesheet" href="~/css/tooplate-style.css"/> 
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <h1>Авторы предмета</h1>
       <table class="table">
        <tr>
           <th>
              Полное имя
           </th>
           <th>
               Дата рождения
           </th>
           <th>
              Дата смерти
           </th>
           <th class="text-center">
               Немного о авторе
           </th>

       </tr>
    @foreach(var author in Model)
    {
        <tr>
            <td>@author.Name</td>
            <td>@author.Born</td>
            <td>@author.Death</td>
            <td>@author.About</td>
        </tr>
    }
</table>
<div class="form-group">
      <div class="col-md-offset-2 col-md-10">
          <a class="btn btn-outline-secondary" asp-controller="Items" asp-action="Index">Вернуться к предметам</a>
      </div>
</div>


</body>
*@
