@using PagedList.Mvc; 
@using PagedList;
@model PagedList.IPagedList<ArchiveStorage.Entities.Author>
@{
    
    ViewData["Title"] = "Home Page";
}

<h1>Authors</h1>
<table>
    <tr>
        <th>
            Author ID
        </th>
        <th>
            Name Author
        </th>
        <th>
            Born Author
        </th>
        <th>
            Death Author
        </th>
        <th>
            About Author
        </th>
    </tr>
    @foreach(var author in Model)
    {
        <tr>
            <td>@author.Id</td>
            <td>@author.Name</td>
            <td>@author.Born</td>
            <td>@author.Death</td>
            <td>@author.About</td>
        </tr>
    }
</table>

<div style="margin:5px;">
    page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @*@Html.PagedListPager(Model, Page => Url.Action ("Main",
    new { Page , sortOrder = ViewBag.CurrentSort , currentFilter = ViewBag.currentFilter}))*@
</div>